body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    padding: 25px 50px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.header p {
    margin: 0;
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;

}

li a {
    text-decoration: none;
    color: #f9faf8;
}

.hero {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    padding: 0 50px 30px 50px;
}

.hero-content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 20px;
}

.hero-content > * {
    flex-basis: 100%;
}

.hero-left {
    flex-grow: 1;
    flex-wrap: wrap;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0 0 32px 0;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 32px;
}

.image-placeholder {
    background-color: gray;
    flex-grow: 1;
    text-align: center;
    padding-top: 80px;
}

.image-placeholder p {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 10px 32px;
    border: 0px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.random-info h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin: 55px 0 55px 0;
}

.box-image-placeholder {
    background-color: white;
    border: #3882f6 4px solid;
    border-radius: 8px;
    height: 150px;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
}

.card p {
    text-align: center;
    color: #1f2937;
    padding-top: 8px;
}

.inspiring-quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    padding: 0 35px 30px 35px;
}

.inspiring-quote-text h3 {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 55%;
    margin: 0 auto;
}

.inspiring-quote-name p {
    width: 55%;
    margin: 0 auto;
    text-align: end;
    color: #1f2937
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    padding: 0 50px 30px 50px;
}

.call-to-action-container {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 8px;
    width: 60%;
    margin: 0 auto;
    padding: 50px 80px;
    justify-content: space-evenly;
}

.call-to-action-right button {
    border: #e5e7eb solid 2px;
}

.call-to-action-container h3, p {
    color: #e5e7eb;
    margin: 0;
}